<div className="team-records">
  <div className="team-records--title">
    <span>All-Time Stats</span>
  </div>
  <div className="team-records--stats">
    <div className="team-records--container">
      <span className="team-records--label">W-L</span>
      <span className="team-records--content">50-24</span>
    </div>

    <div className="team-records--container">
      <span className="team-records--label">Bowl W-L</span>
      <span className="team-records--content">5-2</span>
    </div>

    <div className="team-records--container">
      <span className="team-records--label"> User W-L</span>
      <span className="team-records--content">9-7</span>
    </div>
  </div>
</div>
